/*Index*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/telafundo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    header {
        background-color: #444444;
        text-align: center;
        line-height: 0px;
        padding: 2vw;
    }

        .titulo {
            font-size: 4vw;
        }

        .box {
            width: 7vw;
            height: 5vh;
            background-color: #9e9e9e;
            border-radius: 5vw;
            border-style: none;
            font-size: 1vw;
        }
        
            .inicio {
                position: relative;
                right: 6vw;
            }

            .sobre {
                position: relative;
                right: 3vw;
            }

            .disciplina {
                position: relative;
                left: 3vw;
            }

            .contatos {
                position: relative;
                left: 6vw;
            }

    .container {
        background-color: #9e9e9e;
        margin: 0 20vw 20vh 20vw;
        padding: 3vw;
    }

/*Página Principal*/

    .perfil {
        padding-right: 20vw;
    }

        .fotoperfil {
            position: relative;
            border-radius: 1vw;
            height: 40vh;
        }

        .nome {
            position: relative;
            left: 18vw;
            top: -40vh;
            font-size: 3vw;
        }

        .info {
            position: relative;
            line-height: 2.5vh;
            left: 18vw;
            top: -40vh;
            font-size: 1vw;
        }

    .resumo {
        margin: -20vh 0 0 0;
        text-align: justify;
        text-indent: 4vw;
        font-size: 1vw;
    }

    
    
    footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 4vh;
        font-size: 0.8vw;
        color: rgb(255, 255, 255);
        text-align: center;
    }

/*Sobre*/

/*Formação*/

table {
    border-collapse: collapse;
}
/*Disciplina*/

/*Contatos*/

.formulario {
    margin: 6vw;
    padding: 4vw;
    width: 60vw;
    height: 60vh;
    background-color: rgb(50, 138, 104);
    border-radius: 5vw;
    font-size: 1.5vw;
}